<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 30px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .event-id {
        width: 2%
    }

    .event-name {
        width: 30%
    }

    .event-time {
        width: 25%
    }

</style>

<h1>LIST OF EVENT</h1>

<table>
    <tr>
        <th class="event-id">Id</th>
        <th class="event-name">Name</th>
        <th class="event-time">Time</th>
        <th>Detail</th>
    </tr>

    <?php
    /**
     * @var \Tigren\MyCrud\Block\Index $block
     */
    foreach ($block->getEventCollection() as $key => $event) {
        echo
            '<tr>
                <td>' . $event->getEventId() . '</td>
                <td>' . $event->getEventName() . '</td>
                <td>' . $event->getEventTime() . '</td>
                <td>' . $event->getEventDetail() . '</td>
            </tr>';
    }
    ?>
</table>

</body>
</html>
